body {
  background-color: #a66868;
}
.home_text {
  text-align: center;
  border-radius: 100px;
  background-color: grey;
}
.subtext {
  text-align: center;
  border-radius: 50px;
  background-color: grey;
  padding-right: 50px;
  padding-left: 50px;
}
.games {
  text-align: center;
  border-radius: 100px;
  background-color: grey;
}